 ul  
     { 
	list-style: none;
    margin: 0;
    padding:0;
    li
    {
    display: inline-block;
    a
       {
        color: white;
        text-decoration: none;
        display: block;
        padding: 20px;
        a:hover
           {
            background-color: #7B6F87; 
            color:black;
           }
        }   
    }
}    
.logo{
  grid-area: logo;
  font-size: 70px;
  font-family: "pacifico", "cursive";
  color: white;
  padding-top: 70px;
}
.color{
  color: white;
}
.wrap{
  background-color: #6F8787;
 }

.header{ animation-duration: 2s;
      animation-name: aparecer;
      padding-top: 100px;
      margin-top: 30px;
    grid-area: header;
}
@keyframes aparecer{

0%{
  opacity: 0;}

100%{
  opacity: 1;}
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 50px;
  font-size: 35px;
  margin: 10px 15px;
  font-family: 'Dancing Script', cursive;
  justify-self:end;
}
