@import "main";
@import "header";
@import "informacion";
@import "footer";
@import "grid";
@import "nosotros";
.Main__titulo1{
	font-size: 60px;
    font-family: 'Texturina', serif;
    text-decoration: underline;
}
em{
	font-size: 40px;
	font-family: 'Texturina', cursive;
	text-decoration: underline;
	padding: 25px;
}
.Articulos_titulo{
	font-size: 30px;
	text-decoration: underline;
	font-family: 'Texturina', serif;
	text-transform: uppercase;
}
.paginas{
	background-color:#5D6161 ;
}
html 
{
	height: 100%}
.principal
{
	background-color: #5D6161;
}
.contacto{
	display: flex;
	text-decoration: underline;
	padding: 30px;
	justify-content:center;
}